@using FreakyFashion.Data.Entities

@{ 
    var categoryList = ViewData["CategoryList"] as List<Category>;

    var highlightedCategories = categoryList.Where(c => c.IsHighlighted);
    var unHighlightedCategories = categoryList.Where(c => !c.IsHighlighted);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreakyFashion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt&display=swap" 
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-black p-0">
            <div class="navbar-row pt-4">
                <a class="navbar-brand logo navbar-link px-3 py-1" href="/">Freaky Fashion</a>

                <div class="input-group search">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">
                                search
                            </i>
                        </span>
                    </div>

                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" />
                </div>

                <span class="align-right">
                    <i class="material-icons navbar-icon navbar-link m-2">
                        account_circle
                    </i>
                    <i class="material-icons navbar-icon navbar-link m-2">
                        shopping_cart
                    </i>
                </span>

            </div>
            <ul class="navbar-row text-white p-0 pt-4">
                <li class="nav-item">
                    <a class="navbar-link p-3" href="/">Start</a> |
                </li>

                @foreach (var category in highlightedCategories)
                {
                    <li class="nav-item">
                        <a class="navbar-link p-3" href="/category/@category.Id">@category.Name</a> |
                    </li>
                }

                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>

                    <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">

                        @foreach (var category in unHighlightedCategories)
                        {
                            <a class="dropdown-item" href="/category/@category.Id">@category.Name</a>
                        }

                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
        </nav> 
    </header>
    <div class="container">
        <main role="main" class="px-3 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-info">
                        <i class="material-icons footer-icon">
                            mail_outline
                        </i>
                        Free shipment & returns
                    </div>
                </div>
                <div class="col">
                    <div class="footer-info">
                        <i class="material-icons footer-icon">
                            flight
                        </i>
                        Express delivery
                    </div>
                </div>
                <div class="col">
                    <div class="footer-info">
                        <i class="material-icons footer-icon">
                            security
                        </i>
                        Safe payments
                    </div>
                </div>
                <div class="col">
                    <div class="footer-info">
                        <i class="material-icons footer-icon">
                            sentiment_satisfied_alt
                        </i>
                        New products every day
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-2">
                    <h6 class="font-weight-bold">Check this out:</h6>
                    <ul>
                        @foreach (var category in highlightedCategories)
                        {
                            <li>
                                <a class="footer-link" href="/category/@category.Id">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col">
                    <h6 class="font-weight-bold">Categories:</h6>
                    <ul>
                        @foreach (var category in unHighlightedCategories)
                        {   
                            <li>
                                <a class="footer-link" href="/category/@category.Id">@category.Name</a>
                            </li>
                        }
                    </ul>                    
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                     &copy; Jenny Kallerup       
                </div>
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
